@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
}

:root{
    --color0:#AC0000 ;
    --color2:#FFFFFF ;
    --fonte:"Poppins", sans-serif;
}
/* Personalizando o botão de rolagem vertical*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #202020;

}
::-webkit-scrollbar-thumb{
    background-color: #AC0000;
    border-radius: 10px;
    height:1px;
    border: 2px solid #202020;
}


body{
    background-color: #202020;
    color: var(--color2);
    font-size: 16px;
    line-height: 26px;
    overflow-x: hidden;
    transition: all .5s;
}

header{
    padding: 0px;
    
    background:url('../imagens/ymbAj6.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
    background-color:  transparent;
}


.header h1, .barra{
    display: inline;
    


    position: fixed;
}
.header {
    z-index: 1000;
    width: 100%;
    height: 50px;
    display: inline;
    
    padding: 10px;
    position: fixed;
}
.header > .menu > .barra{
    margin-top: 15px;
    margin-left: 120px;
}
.header > h1{
    color: var(--color2);
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
}
.header span{
    color: #AC0000;
}
.header .menu{
    color: #FFFFFF;
    font-size: 27px;
    position: relative;
    top:-2px;
    left: 57%;
    bottom: 0;
    cursor: pointer;
}
header > nav > .lista{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-250%);
    transition: all .3s;
    z-index: 1;
    width: 100%;
    height: 100%;

    border-radius: 10px;
}
header > nav > .lista > li{
    
    text-align: center;
    
}
header > nav > .lista > li > a{
    text-decoration: none;
    color: var(--color2);
    font-weight: 500;
    font-size: 20px;
    line-height: 60px;
    cursor: pointer;
}

.lista > li > a:hover{
    
    transition: all .5s;
    color: var(--color0);
}
.lista.active{
    background-color:#2A2A2A ;
    top: 50%;
    left: 50%;
    transition: all .4s;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


#home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--color2);
    z-index: 0;
    margin-top: 40px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
#home > p{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    margin-bottom: 20px;

}   
#home > p > span{
    color: var(--color2);
    background-color: var(--color0);
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 10px;
}
#home > h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 10px;
    text-align: center;
}
#home > h3{
    font-size: 26px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
}
#home > h3 > span{
    color: var(--color0);
}
#home > #buttons{
    display: flex;
    margin-top: 120px;
    
    transition: ease 0.5s;
    gap:30px ;
    width: 250px;

}
#home > #buttons > button#sayhello:hover{
    transform: scale(0.90);
}
#home > #buttons > button#sayhello{
    background-color: var(--color0);
    color: var(--color2);
    font-weight: 600;
    font-size: 11px;
    padding: 3px 30px;
    border: none;
    border-radius: 5px;
    margin-left: -30px;
    height: 40px;
    width: 150px;
    white-space: nowrap;
    transition: transform 0.5s ease;
    cursor: pointer;
}
#home > #buttons > a > button#seemywork{
    background-color: transparent;
    color:var(--color2) ;
    border: none;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    top: -8px;
    margin-right:50px;
    white-space: nowrap;
    transition: transform 0.5s ease;
    cursor: pointer;
}
#home > #buttons > a > button#seemywork > i.play:hover{
    transform: scale(0.90);
}
#home > #buttons > a > #seemywork > i.play{
    background-color: #AC0000;
    font-size: 15px;
    padding: 20px 20px;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.5s ease;
}



#aboutme{
    text-align: center;
    background-color:#2A2A2A ;
    color: var(--color2);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
#aboutme > h2{
    font-weight: 700;
    line-height: 32px;
    font-size: 32px;
    margin-bottom: 30px;
}
#aboutme .fraseefect{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-top: -10px;
    margin-bottom: 30px;
}
#aboutme .competenses{
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
    color: #eeebeb;
    
}
#aboutme .redeSociais{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    position: relative;  
    top: 30px;  
}
#aboutme .redeSociais > a > img{
    border-radius: 50%;
    transition: transform 0.5s ease;
}
#aboutme .redeSociais > a > img:hover{
    transform: scale(0.90);
}
#aboutme .redeSociais > a > img.icones{
    width: 50px;
    height: 50px;
}


#skills{
    
    background-color: #202020;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height:800px;
}
#skills h2{
    line-height: 32px;
    font-size: 32px;
    font-weight: 700;
    color: var(--color2);
    padding: 90px;
}
#skills > h2 > span{
    color: var(--color0);
}
#skills .skil{
    background-color: #2A2A2A;
    width: 350px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    cursor: pointer;
}
#skills > .skil > p{
    font-weight: 600;
    font-size: 22px;
    color: var(--color2);
}
#skills .skil > img{
    width: 50px;
    height: 50px;
}
.skil:hover{
    transform: translateY(-20px);
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
}

#portfolio{
    height: 100%;
    background-color: #2A2A2A;
    color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#portfolio > p{
    font-weight: 400;
    font-size: 15px;
    text-align: center;

    padding-top: 20%
}
#portfolio > h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    padding-top: 20px;
    text-align: center;
    padding: 20px;
}
#portfolio > h2 > span{
    color: var(--color0);
}

.projeto00{
    position: relative;
    width: 350px;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* MANTÉM A PROPORCAO DA IMAGEM */
    border-radius: 10px;
    
}

.bghover{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255,0,0,1), rgba(0,0,0,1));
    color: white;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(100%);  
    transition: transform 0.7s ease;  
    text-align: center;
    border-radius: 10px;
}


.projeto00:hover .bghover{
    transform: translateY(0);
    
    
}

.bghover > h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 60px;
    margin-bottom: 10px;
}
.bghover > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 5px;
}

.bghover > p > a > i{
    
    font-size: 40px;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.bghover > p > a > .p1{
    margin-top: 20px;
}
.bghover > p > a > .p2{
    margin-top: 65px;
}

.bghover > p > a i:hover{
    transform: scale(0.90);
}


.projeto02{
    position: relative;
    width: 350px;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
.img2{
    width: 100%;
    height: 100%;
    object-fit: cover; /* MANTÉM A PROPORCAO DA IMAGEM */
    border-radius: 10px;
    
}

.projeto02:hover .bghover{
    transform: translateY(0);
     
}





#experiencia{
    background-color: #202020;
    color: var(--color2);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}


#experiencia > p{
    font-weight: 400;
    font-size: 15px;
    margin-top: 50px;
    text-align: center;
}
#experiencia > h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    padding-top: 20px;
    text-align: center;
}
#experiencia > h2 > span{
    color: var(--color0);
}


.xp01{
    background-color: #2A2A2A;
    width: 330px;
    height: 400px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
}

.xp01 > h3{
    font-weight: 600;
    font-size: 22px;
    line-height: 60px;
    margin-bottom: 10px;
    color: var(--color0);
}
.xp01 > h4{
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    margin-bottom: 10px;
    text-align: left;
}
.xp01 > .proj{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 5px;
    text-align: left;
}
.xp01 > .proj > span{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
    text-align: left;
}

.xp02{
    background-color: #2A2A2A;
    width: 330px;
    height: 450px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
    text-align: left ;
}

.xp02 > h3{
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 10px;
    color: var(--color0);
    text-align: center;
}
.xp02 > h4{
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 5px;
    text-align: left;
    margin-top: 20px;
    color: var(--color0);
}
.xp02 > .curso > span{
    font-weight: bold;
}


footer{
    background-color: #2a2a2a;
    color: var(--color2);
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}
footer > p{
    padding: 2px;
}
footer > p > span{
    color: var(--color0);
}

.favicon{
    color: #eeebeb;
    background-color: #FFFFFF;
}