@media only screen and (min-width: 768px) {
    .header > h1{
        font-size:50px;
        margin: 0px 0px 0px 20px;

    }
    .menu .barra{
        font-size: 40px;
    
        left: 78%;
    }
    header > nav > .lista > li > a{
        font-size: 30px;
        line-height: 100px;
    }
    #home > h3 {
        font-size: 30px;
    }
    #home > #buttons{
        margin-top: 50px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #home > #buttons > button#sayhello{
        font-size: 20px; 
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 40px;

    }
    #home > #buttons > a > button#seemywork{
        font-size:20px;
        top: 2px;

    }
    #home > #buttons > a > #seemywork > i.play{
        padding: 30px;
        font-size: 20px;
    }

    #aboutme > h2{
        font-size: 42px;
        line-height: 32px;
    }
    #aboutme .fraseefect{
        font-size: 20px;
        line-height: 24px;
    }
    #aboutme .competenses{
        font-size: 20px;
        line-height: 26px;
    }
    #aboutme .redeSociais{
        margin-top: 40px;
    }
    #aboutme .redeSociais > a > img{
        margin: 0 40px;
    }

    #skills > h2{
        font-size: 40px;
    }




    #portfolio > p{
        font-size: 20px;
    }

    #portfolio > h2{
        font-size: 40px;
    }
    #portfolio > .projeto00{
        width: 600px;
        height: 700px;
    }
    #portfolio > .projeto00 > .bghover > h2{
        font-size: 30px;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .bghover > p{
        font-size: 20px;
        margin-top: 0px;
    }
    .bghover > p > a > .p1{
        margin-top: 100px;
    }


    #portfolio > .projeto02{
        width: 600px;
        height: 700px;
    }
    #portfolio > .projeto02 > .bghover > h2{
        font-size: 27px;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    #portfolio > .projeto02 > .bghover > p{
        font-size: 20px;
        margin-top: 100px;
    }
    .bghover > p > a > .p2{
        margin-top: 100px;
    }


    
    #experiencia > p{
        font-size: 20px;
    }
    #experiencia > h2{
        font-size: 40px;
    }

    #experiencia > .xp01{
        width: 63%;
        height: 200px;
        position: relative;
        top: 1px;
        left: -5%;
        display: block;

        white-space: nowrap;
        padding: 50px;
    }
    #experiencia > .xp01 > h3{
        font-size: 25px;
        margin-top: -51px;
        margin-bottom: 0px;
        text-align: left;
    }
    #experiencia > .xp01 > h3#obs{
        font-size: 17px;
        margin-top: 1px;
    }
    #experiencia > .xp01 > h4{
        font-size: 17px;
        margin-top: -11px;
        margin-bottom: -10px;
    }
    #experiencia > .xp01 > #login{
        font-size: 15px;
    }
    #experiencia > .xp01 > #login > span{
        font-size: 16px;
    }
    #experiencia > .xp01 > .proj{
        font-size: 15px;
    }
    #experiencia > .xp01 > .proj > span{
        font-size: 15px;
    }

    .xp02{
        width:63% ;
        position: relative;
        top: 1px;
        left: 5%;
        display: block;
        padding: 50px;
    }
    .xp02 > h4{
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 5px;
        text-align: left;
        margin-top: 20px;
    }
    .xp02 > .curso > span{
        font-weight: bold;
    }

    footer{
        background-color: #2a2a2a;
        color: var(--color2);
        font-weight: bold;
        text-align: center;
        font-size: 15px;
    }

}







@media only screen and (min-width: 998px) {
    body{
        overflow-x: hidden;
    }
   
    .menu .barra{
        display: none;
    }
    header > nav > .lista{
        list-style: none;
        position: absolute;
        top: 123px;
        left: 45%;
        transition: all .3s;
        z-index: 1001;
        display: flex;
        gap: 50px;
        white-space: nowrap;
        width: 50px;
        height: 50px;
    }
    header > nav > .lista{
        position: fixed;
    }
    header > nav > .lista > li > a{
        text-decoration: none;
        color: #CCCCCC;
        font-weight: 500;
        font-size: 17px;
        cursor: pointer;
    }

    #home > p{
        font-size: 20px;
        margin-bottom: 20px;
    }
    #home > h1{
        white-space: nowrap;
        padding: 10px;
        font-size: 70px;
        margin-bottom: 15px;
    }
    #home > h3{
        font-size: 30px;
    }
    #home > #buttons{
        margin-top: 50px;  
    }
    #home > #buttons > button#sayhello{
        font-size: 14px;   
    }
    #home > #buttons > a > button#seemywork{
        font-size: 14px;
    }
    #aboutme > h2{
        font-size: 32px;
        line-height: 32px;
    }
    #aboutme .fraseefect{
        font-size: 14px;
        line-height: 24px;
    }
    #aboutme .competenses{
        font-size: 14px;
        line-height: 26px;
    }
    #aboutme .redeSociais{
        margin-top: 40px;
    }
    #aboutme .redeSociais > a > img{
        margin: 0 40px;
    }





    #experiencia > p{
        font-size: 20px;
    }
    #experiencia > h2{
        font-size: 40px;
    }

    #experiencia > .xp01{
        width: 60%;
        height: 200px;
        position: relative;
        top: 1px;
        left: -5%;
        display: block;

        white-space: nowrap;
        padding: 50px;
    }
    #experiencia > .xp01 > h3{
        font-size: 25px;
        margin-top: -51px;
        margin-bottom: 0px;
        text-align: left;
    }
    #experiencia > .xp01 > h3#obs{
        font-size: 17px;
        margin-top: 1px;
    }
    #experiencia > .xp01 > h4{
        font-size: 17px;
        margin-top: -11px;
        margin-bottom: -10px;
    }
    #experiencia > .xp01 > #login{
        font-size: 15px;
    }
    #experiencia > .xp01 > #login > span{
        font-size: 16px;
    }
    #experiencia > .xp01 > .proj{
        font-size: 15px;
    }
    #experiencia > .xp01 > .proj > span{
        font-size: 15px;
    }

    .xp02{
        width:60% ;
        position: relative;
        top: 1px;
        left: 5%;
        display: block;
        padding: 50px;
    }
    .xp02 > h4{
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 5px;
        text-align: left;
        margin-top: 20px;
    }
    .xp02 > .curso > span{
        font-weight: bold;
    }

    footer{
        background-color: #2a2a2a;
        color: var(--color2);
        font-weight: bold;
        text-align: center;
        font-size: 15px;
    }

}


@media only screen and (min-width: 1200px) {
    body{
        overflow-x: hidden;
    }
    header > nav > .lista{
        left: 68%;
    }
}